body {
  color: red;
  background: #90caf9;
}

.page-title {
  font-weight: bold;
}

input.url-input {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem !important;
  color: #f44336;
  background: #90caf9 !important;
  box-shadow: 0 1px 0 0 #f44336 !important;
  border-color: #f44336 !important;
}

input::placeholder { color: #f44336; }
input:-ms-input-placeholder { color: #f44336; }
input::-ms-input-placeholder { color: #f44336; }

.btn {
  margin-top: 10px;
  font-weight: bold;
}

.result {
  display: block;
  margin-top: 50px;
  padding: 50px 20px;
}

a.short-url {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  color: #fff;
}
